.navbar-nav a{
font-size: 18px;
color: #2f3ea5 !important;
font-weight: bold;
text-align: center;
}
.navbar-nav a:hover::after {
    content: "";
    height: 3px;
    width: 70px;
    background-color: #1A237E;
    display: block;
}
.buttons a{
    background-color: #1A237E !important;
    color: #fff;
}


