@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
body{
  color: #064f0b !important;
  /* font-family: 'Cairo', sans-serif; */

}
.navbar-light .navbar-brand{
    color: #064f0b !important;
    font-size: 32px !important;

}
.navbar-light .navbar-brand::first-letter{
    color: #fff !important;
    background-color: #064f0b;
    margin-right: 10px;
    padding:0px 15px;
    border-radius:50% ;
    font-size:40px ;
    display: inline-block;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.footer {
  background-color:#055c0b;
  color: #fff;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
}